body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #006747;
    background-image: url('https://img.freepik.com/free-photo/coronavirus-vaccine-treatment-background-with-blank-space_53876-102663.jpg?t=st=1713726907~exp=1713730507~hmac=7b46bada222350bfd48acaa424b4dbb1e1fa2687fd478e1c4978e69e4c143d5d&w=900');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    position: relative;
}



h1, p {
    text-align: center;
}

.table-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30vh; 
    margin-top: 10vh; 
}

table {
    margin-left: 60px;
    margin-right: 30px;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #006747;
    color: #FFFFFF;
    padding: 15px;
}

td {
    padding: 15px;
    text-align: center;
    border: 1px solid #CFC493;
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-container {
    margin-top: 60px;
    text-align: center;
}

button {
    background-color: #CFC493;
    color: #006747;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b3a179;
}

footer {
    background-color: #006747;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Ensures that the footer does not overlap the content */
body {
    margin-bottom: 50px; /* Adjust this value based on the footer height */
}
